.app-btn {
    display: block;
    padding: 1rem;
    font-family: $font-family-secondary;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: $thumbnail-border-radius;
    transition: all 0.4s ease-out;

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-primary;
    }

    small {
        display: block;
        margin-top: 0.75rem;
        font-size: 0.75rem;
        text-transform: none;
        color: $color-secondary;
    }
}
