html {
    font-size: $font-size-default;

    body {
        font-family: $font-family-primary;
        font-size: 1rem;
        color: $color-black;
        background-color: $color-white;

        @import "header";

        @import "main";

        @import "footer";
    }
}