.app-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    box-shadow: 0 2px 4px rgba($color-black, 0.5);

    .app-slide {
        flex: 1 0 100%;
        scroll-snap-align: start;

        .slide-image {
            overflow: hidden;

            img {
                width: 100%;
                height: $slide-image-height;
                object-fit: cover;
                display: block;

                @include respond(sm) {
                    height: calc(#{$slide-image-height} + 8rem);
                }

                @include respond(md) {
                    height: calc(#{$slide-image-height} + 16rem);
                }
            }
        }

        .slide-content {
            padding: 0.5rem 0.25rem;
            text-align: center;
            background-color: $color-white;

            .slide-title {
                font-family: $font-family-secondary;
                font-size: 1.25rem;
                font-weight: bold;
                color: $color-black;
            }

            .slide-description {
                margin-bottom: 1rem;
                font-size: 0.9rem;
            }

            .slide-price {
                font-family: $font-family-secondary;
                font-size: 2rem;
                font-weight: bold;

                span {
                    font-size: 1rem;
                    font-weight: normal;
                    vertical-align: super;
                    color: rgba($color-black, 0.75);
                }

                &:after {
                    content: "€";
                    margin-left: 0.25rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.app-slider-previous,
.app-slider-next {
    position: absolute;
    bottom: 0.15rem;
    z-index: 9998;
    padding: 0 0.5rem;
    color: $color-primary;
    background-color: $color-white;

    i {
        font-size: 2rem;
    }
}

.app-slider-previous {
    left: 0;
}

.app-slider-next {
    right: 0;
}
