.app-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 2px 4px rgba($color-black, 0.5);

    &::-webkit-scrollbar {
        display: none;
    }

    .app-slide {
        position: relative;
        flex: 1 0 100%;
        scroll-snap-align: start;

        .slide-image {
            overflow: hidden;

            img {
                width: 100%;
                height: $slide-image-height;
                object-fit: cover;
                display: block;

                @include respond(sm) {
                    height: calc(#{$slide-image-height} + 8rem);
                }

                @include respond(md) {
                    height: calc(#{$slide-image-height} + 16rem);
                }
            }
        }

        .slide-content {
            padding: 0.5rem 0.25rem;
            text-align: center;
            background-color: $color-white;

            .slide-title {
                font-family: $font-family-secondary;
                font-size: 1.25rem;
                font-weight: bold;
                color: $color-black;
            }

            .slide-description {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 2.25rem;
                padding: 0.5rem;
                font-size: 0.9rem;
                background-color: rgba($color-white, 0.75);
            }

            .slide-btn {
                position: absolute;
                left: 0;
                right: 0;
                top: 40%;
                margin: 0 2rem;
                transform: translateY(-50%);

                @include respond(sm) {
                    left: 50%;
                    max-width: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                @include respond(md) {
                    max-width: 30%;
                }
            }
        }
    }
}

.app-slider-previous,
.app-slider-next {
    position: absolute;
    bottom: 0.15rem;
    z-index: 9998;
    padding: 0 0.5rem;
    color: $color-primary;
    background-color: $color-white;

    i {
        font-size: 2rem;
    }
}

.app-slider-previous {
    left: 0;
}

.app-slider-next {
    right: 0;
}
