/* Default breakpoints */
$breakpoint-sm: 481px;
$breakpoint-md: 769px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1201px;

/* Mixin: Media queries */
@mixin respond($breakpoint) {
    @if ($breakpoint == sm) {
        @media (min-width: $breakpoint-sm) {
            @content;
        }
    }
    @if ($breakpoint == md) {
        @media (min-width: $breakpoint-md) {
            @content;
        }
    }
    @if ($breakpoint == lg) {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
    @if ($breakpoint == xl) {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }
}
