/* Fonts variables */
$font-size-default: 16px;

$font-family-primary: "Courier New", Courier, monospace;
$font-family-secondary: "Arial", arial, sans-serif;

/* Colors variables */
$color-black: #333333;
$color-white: #ffffff;
$color-primary: #d13434;
$color-secondary: #bdbdbd;

/* Borders variables */
$border-radius-default: 0.5rem;

/* Thumbnails variables */
$thumbnail-image-height: 200px;

/* Sliders variables */
$slide-image-height: 250px;
